body {
    text-align: center;
}

win-message {
width: 505px;
height: 606px;
visibility: visible;  // visible
background-color: green;
color: red;
font-size: 16px;
font-family: "Times New Roman", Times, serif;
} 